@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,500&display=swap');

/* To Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Base */
*{
  color: #E9D5DA;
  font-family: 'Poppins', sans-serif;
  font-style: normal;  
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  width: 100%;
  display: block;
  overflow-x: hidden;
}
body{
  background-image: url('img/background.jpg'); 
  background-size: 100%;
  overflow-x:hidden;
  -webkit-text-size-adjust:none;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.default{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

/* Class Helper for easy padding adjustment */
.p--sm {
  padding: 10px;
}
.p--md{
  padding: 20px;
}
.p--lg{
  padding: 30px;
}
.pl--sm {
  padding-left: 10px;
}
.pl--md {
  padding-left: 20px;
}
.pl--lg {
  padding-left: 30px;
}
.pr--sm {
  padding-right: 10px;
}
.pr--md{
  padding-right: 20px;
}
.pr--lg{
  padding-right: 30px;
}
.pt--none{
  padding-top: 0%;
}
.pt--xs{
  padding-top: 5%;
}
.pt--sm{
  padding-top: 10px;
}
.pt--md{
  padding-top: 20px;
}
.pt--lg{
  padding-top: 30px;
}
.pb--none {
  padding-bottom: 0%;
}
.pb--sm{
  padding-bottom: 10px;
}
.pb--md{
  padding-bottom: 20px;
}
.pb--lg{
  padding-bottom: 30px;
}

/* Layout */
.grid-container{
  display: grid;  
  width: 100%;
}
.grid-container > div {
  height: 100%;
}
.column--12{
  grid-column: span 12;
  grid-row: 1;
}
.column--10{
  grid-column: span 10;
  grid-row: 1;
}
.column--8{
  grid-column: span 8;
  grid-row: 1;
}
.column--6{
  grid-column: span 6;
  grid-row: 1;
}
.column--4{
  grid-column: span 4;
  grid-row: 1;
}
.column--2{
  grid-column: span 2;
  grid-row: 1;
}
.flex-container{
  display: flex;
}
.flex-container > div {
  flex-shrink: 1;
  flex-grow: 1;
  margin: 0;
}
.flex--sm {
  flex-basis: 20%;
}
.flex--md {
  flex-basis: 30%;
}
.flex--lg {
    flex-basis: 50%;
}
/* Specifics */
/* Navigation Bar */
header a{
  font-size: 20px;
  text-shadow: 0 0 2px #E9D5DA, 0px 5px 5px #403d3d;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a {
  text-transform: uppercase;
}
nav{
  padding: 5px 40px;
} 
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  max-width: 1000px;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.active a{
  border-bottom: 3px solid #e9d5daba;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li:hover a{
  text-decoration: underline;
  text-decoration-color: #E9D5DA;
  -moz-text-decoration-color: #E9D5DA;
  text-decoration-thickness: 2px;
}

/* Hamburger-Menu and Close Icon */
.fa, .fas {
  font-weight: 900;
  font-size: 40px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-right: 30px;
}
.icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-right: 30px;
}
.logo-container img{
  max-width: 120px; 
}
@media all and (max-width: 1185px){
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items{
    padding-bottom: 50px;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li a {
    font-size: 23px;
  }
  nav ul li.btn{
    display: flex;
    justify-content: flex-end;
  }
  nav ul li.items:hover{
    text-decoration-thickness: 2px;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
/*Footer*/
footer{
  background: rgba(54, 48, 98, 0.89);
}
.footer-links{
  list-style-type: none;
  padding-bottom: 5px;
}
.about ul{
  list-style-type: disc;
  padding-left: 30px;
}
.about p{
  max-width: 300px;
  padding-right: 5px;
}
.contact-details{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.contact-details p{
  white-space: pre-wrap;
}
h4{
  text-transform: uppercase;
}
.logo-container a{
  text-shadow: 0 0 2px #E9D5DA, 0px 5px 5px #403d3d;
}
footer .logo-container{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.icons{
  justify-content: space-between;
  max-width: 200px;
  
}
@media screen and (max-width: 1060px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .icons{
    max-width: 10px;
    flex-direction: row;
    gap: 15px;
  }
}
/* Button */
.button {
  border: 10px solid #363062;
  border-radius: 50px;
  background-color: #E9D5DA;
  color: #363062;
  padding: 10px 50px;
  font-size: 25px; 
  min-width: 250px;
}
.review-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----LANDING PAGE-----*/
/* Hero Header */
.hero {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.hero-section {
  flex: 1 1 100%;
}
.hero-image img{
  width: 100%;
}
.hero p {
  max-width: 700px;
}
.hero-image {
  max-width: 600px;
}
.hero-headline {
  text-shadow: 0 0 2px #E9D5DA, 0px 5px 5px #403d3d;
  letter-spacing: 0.05em;
}
.hero-headline h1 {
  font-size: 90px;
}
.hero-headline h4 {
  font-size: 40px;
  font-weight: 400;
}
.hero-headline p {
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .hero {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .hero-headline {
    padding-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .hero {
    flex-direction: row;
  }
  .hero-section{
    flex: 1 1 50%;
  }
}

/* What is Among Us? & How To Play*/
.preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.preview-section{
  flex: 1 1 100%; 
}
.preview-img img{
  max-width: 900px;
  border: 20px solid #363062;
  border-radius: 50px;
  width: 100%;
}
.preview-content {
  max-width: 900px;
}
.preview-content h1{
  font-size: 90px;
}
.preview-content p{
  font-size: 20px;
  font-weight: 300;
}

/* Game Reviews */
.reviews {
  margin-top: 20px;
}
.review-item{
  display: flex;  
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border: 10px solid #363062;
  border-radius: 25px;
  margin-top: 10px;
  min-width: 900px;
}
.review-content{
  flex: 1 1 auto;
  background: #E9D5DA;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.review-content p, .review-content h5{
  color:#363062;
  letter-spacing: 0.05em;
}
.review-content p{
  font-size: 20px;
  font-weight: 400;
}
.review-content h5{
  font-size: 30px;
}
.review-image{
  flex: 1 1 auto;
  border: 10px solid #363062;
  box-shadow: 13px 0px 0px #363062;
  border-radius: 14px;
  overflow: hidden;
  min-width: 200px;
  max-height: 200px;
}
.review-content-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.review-desc h1{
  font-size: 90px;
  text-align: center;
}
.review-section{
  background-color: #E9D5DA;
}

/* Review Hero Page*/
@media screen and (max-width: 750px) {
  .review-item{
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .review-image img{
    max-height: 300px;
  }
  .review-container{
    display: block;
    position: relative;
    overflow-x: scroll;
    padding-bottom: 30px;  
    max-width: 900px;
}
}
@media screen and (max-width:575px){
  .review-gallery-item p {
    max-width: 240px;
    min-width: 130px;
    min-width: 240px;
  }
}
/* Maps */
.maps{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.map-section{
  display: flex;
  width: 100%;
  position: relative;
}
.map-item{ 
  width: 100%;
  margin-top: 10px;
}

.map-item .map-1{
  justify-content: flex-start;
  z-index: 500;
}
.map-item .map-2{
  justify-content: center;
  margin-top: -250px;
  margin-bottom: -250px;
  z-index: 400;
}
.map-item .map-3{
  justify-content: flex-end;
  z-index: 300;
  margin-top: -150px;
}
.map-item img{
  border: 15px solid #363062;
  border-radius: 30px;
  max-width: 600px;
}
.map-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-preview-content {
  max-width: 900px;
}
.map-preview-content h1{
  font-size: 90px;
  text-align: center;
}
.map-preview-content p{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

/* Tips/Tricks */
.tips-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.tips-preview-section{
  flex: 1 1 100%; 
}
.tips-preview-img{
  max-width: 900px;
  border: 20px solid #363062;
  border-radius: 50px;
  width: 100%;
  background-color: #E9D5DA;
}
.tips-preview-img img{
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}
.tips-preview-content {
  max-width: 900px;
}
.tips-preview-content h1{
  font-size: 90px;
}
.tips-preview-content p{
  font-size: 20px;
  font-weight: 300;
}

/*Characters*/
.characters-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.characters-preview-section{
  flex: 1 1 100%; 
}
.characters-preview-img{
  max-width: 900px;
  border: 20px solid #363062;
  border-radius: 50px;
  width: 100%;
  background-color: #E9D5DA;
}
.characters-preview-img img {
  display: flex;
  max-width: 900px;
  width: 100%;
}
.characters-preview-content {
  max-width: 900px;
}
.characters-preview-content h1{
  font-size: 90px;
}
.characters-preview-content p{
  font-size: 20px;
  font-weight: 300;
}
/* Landing Page Breaking Points */
@media screen and (max-width: 1005px){
  .hero-headline h1 {
    font-size: 70px;
  }
  .hero-headline h4 {
    font-size: 30px;
    font-weight: 400;
  }
  .hero-headline p {
    font-size: 15px;
    font-weight: 300;
  }
}
@media screen and (max-width: 900px){
  .head-text  h1 {
    font-size: 76px;
  }
  .head-text  h4 {
    font-size: 40px;
    font-weight: 400;
  }
  .head-text  p {
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 525px){
  .head-text  h1 {
    font-size: 76px;
  }
  .head-text  h4 {
    font-size: 40px;
    font-weight: 400;
  }
  .head-text  p {
    font-size: 20px;
    font-weight: 300;
  }
  .header-page-img img {
    border: 15px solid #363062;
    border-radius: 30px;
  }
  .characters-preview-img {
    border: 15px solid #363062;
    border-radius: 30px;
  }
}
@media screen and (max-width: 500px){
  .preview-img img {
    border: 15px solid #363062;
    border-radius: 30px;
  }
  .map-item img {
    border: 15px solid #363062;
    border-radius: 30px;
    max-width: 600px;
    min-width: 200px;
  }
  .map-flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
  }
  .map-item .map-1 {
    max-height: 265px;
  }
  .map-item .map-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 265px;
  }
  .map-item .map-3 {
    margin-top: 0px;
    max-height: 265px;
  }
}
@media screen and (max-width: 460px){
  .head-text  h1 {
    font-size: 50px;
  }
  .head-text  h4 {
    font-size: 38px;
    font-weight: 400;
  }
  .head-text  p {
    font-size: 20px;
    font-weight: 300;
  }
}

/* -----About Page----- */
/*Header Header(About Page)*/
.header-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.header-page-section{
   flex: 1 1 100%; 
}
.header-page-img img{
    max-width: 900px;
    border: 20px solid #363062;
    border-radius: 50px;
    width: 100%;
}
.header-page-section p{
    display: flex;
    text-align: center;
    max-width: 900px;
    font-size: 20px;
    font-weight: 300;
 }
.header-page-content h1{
    font-size: 70px;
    text-align: center;
}
/* Title Underline */
.underline{
    width:100%;
    border: 4px solid #E9D5DA;
    border-radius: 10px;
}
/* Game Information */
.about-page-section{
  flex: 1 1 100%; 
}
.about-page-img img{
   max-width: 900px;
   width: 100%;
}
.about-page-section p{
  display: flex;
  text-align: left;
  max-width: 900px;
  font-size: 20px;
  font-weight: 300;
}
.about-page-section h1{
  display: flex;
  text-align: left;
  max-width: 900px;
  font-size: 40px;
  text-transform: uppercase;
}
.about-page-content h1{
  font-size: 70px;
  text-transform: uppercase;  
}
.about-edit{
  text-transform: capitalize 
}
.about-title{
  max-width: 450px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 700px;
}
@media screen and (max-width: 835px){
  .about-page-section  h1 {
    font-size: 45px;
  }
  .about-page-section  p {
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 710px){
  .header-page-section  h1 {
    font-size: 50px;
  }
  .about-page-section  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 485px){
  .header-page-section  h1 {
    font-size: 40px;
  }
}

/* Reviews Section */
.review-gallery-thumbnails{
  display: block;
  position: relative;
  overflow-x: scroll;
  padding-bottom: 30px;
}
.review-gallery-items {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.review-gallery-item{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: center;
  background-color: #E9D5DA;
  border: 13px solid #363062;
  border-radius: 28px;
  max-width: 900px;
}
.review-gallery-content{
display: flex;
flex-direction: column;
justify-content: center;
border: 5px solid #363062;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
background-color: #363062;
color: #E9D5DA;
}
.review-gallery-image{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.review-gallery-items-desc{
    display: flex;
    justify-content: center;
    text-align: center;
}
.review-gallery-items-desc p {
  max-width: max-content;
  font-size: 20px;
  font-weight: 300;
}
.review-gallery-item p {
  width: 100%;
  padding: 10px 20px 75px 20px;
  border: 5px solid #363062;
  border-radius: 22px;
  
  max-width: 300px;
  max-height: 239px;
}
.review-gallery-item img {
    max-width: 100px;
}
.star-icon {
  display: flex;
  justify-content: center;
  box-shadow: 9px 0px 0px #363062;
}
.star-icon img {
  max-width: 150px;
}
@media screen and (max-width: 1060px) {
    .review-gallery-items {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: max-content;
    }
    .review-gallery-item img{
        max-height: 300px;
    }
}
.how-to-section p{
    display: flex;
    justify-content: center;
    width: 100%;
}
.how-to-section button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.how-to-section img{
    width: 100%;
    max-width: 900px;
    display: flex;
    border: 20px solid #363062;
    border-radius: 50px;
}
/*How To Play Header*/
.gallery {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.gallery-thumbnails{
    display: block;
    position: relative;
    overflow-x: scroll;
    padding-bottom: 30px;
}
.gallery-items {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}
.gallery-item img{
    width: 100%;
    border: 20px solid #363062;
    border-radius: 50px;
} 
@media screen and (max-width: 1060px) {
    .gallery-items {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .gallery-item img{
        max-height: 300px;
    }
}
/* Game Strategies */
.strats {
  margin-top: 20px;
}
.strats-desc h5{
  font-size: 90px;
  text-align: center;
}
.strats-item{
  display: flex;  
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border-radius: 35px;
  margin-top: 10px;
  min-width: 900px;
  min-width: 285px;
}
.strats-content{
  flex: 1 1 auto;
  background: #E9D5DA;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 150px;
  border: 10px solid #363062;
  border-left: 0px;
}
.strats-content p, .strats-content h5{
  color:#363062;
  letter-spacing: 0.05em;
}
.strats-content p{
  font-size: 15px;
  font-weight: 400;
}
.strats-content h5{
  font-size: 30px;
}
.strats-content h4{
  font-size: 20px;
}
.strats-image{
  flex: 1 1 auto;
  border: 10px solid #363062;
  box-shadow: 13px 0px 0px #363062;
  border-radius: 14px;
  overflow: hidden;
  min-width: 200px;
  max-height: 200px;
  text-align: center;
}
.strats-num{
  flex: 1 1 auto;
  border: 10px solid #363062;
  box-shadow: 13px 0px 0px #363062;
  border-radius: 14px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  min-width: 115px;
  min-height: 132px;
}
.strats-content-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.strats-section{
  background-color: #E9D5DA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .strats-item{
    flex-wrap: nowrap;
  }
  .strats-image img{
    max-height: 300px;
  }
  .strats-container{
    display: block;
    position: relative;
    padding-bottom: 30px;  
    max-width: 900px;
  }
  h5{
    font-size: 4vw;
  }
  .strats-content-header{
    font-size-adjust: 0.58;
  }
}
@media screen and (max-width:575px){
  .tutorials-gallery-item iframe {
    border-radius: 30px;
    border: 15px solid #363062;
    min-width: 275px;
    max-width: 280px;
  }
}
@media screen and (max-width: 485px){
  .strats-content h5 {
    font-size: 25px;
  }
  .gallery-item img {
    border: 15px solid #363062;
    border-radius: 30px;
  }
}



/* Tutorials */
.tutorials-gallery {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.tutorials-gallery-thumbnails{
  display: block;
  position: relative;
  overflow-x: scroll;
  padding-bottom: 30px;
}
.tutorials-gallery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.tutorials-gallery-item iframe{
  width: 100%;
  min-width: 285px;
  min-height: 300px;
  border-radius: 10px;
  border: 20px solid #363062;
  min-width: 530px;
} 
.tutorials-section button{
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1060px) {
  .tutorials-gallery-items {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: max-content;
  }
  .tutorials-gallery-item img{
    max-height: 300px;
  }
}
/* Character Gallery */
.character-gallery{
  display: flex;
  flex-direction: row;
  width: 100%; 
}
.character-item{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 35px;
  margin-top: 10px;
  min-width: 900px;
  min-width: 400px;
  max-width: 500px;
}
.character-main{
  max-width: 1106px;
display: flex;
justify-content: center;
width: 100%;
}
.character-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  border-radius: 35px;
}
.character-content{
  flex: 1 1 auto;
  background: #E9D5DA;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 150px;
  border: 10px solid #363062;
  border-left: 0px;
  max-width: 245px;
}
.character-num{
  flex: 1 1 auto;
  border: 10px solid #363062;
  box-shadow: 13px 0px 0px #363062;
  border-radius: 14px;
  overflow: hidden;
  min-width: 115px;
  min-height: 132px;
  text-align: center;
  padding: 20px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  max-width: 150px;
}
.character-container{
  position: relative;
  overflow-x: scroll;
  padding-bottom: 30px;
  display: flex; 
  
}
.character-content p, .character-content h5{
  color:#363062;
  letter-spacing: 0.05em;
}
.character-content h5{
  font-size: 30px;
  text-transform: uppercase;
}
.character-content-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; 
}
.crew-img img{
  max-width: 130px;
}
.character-section {
  background-color: #E9D5DA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Maps */
.maps-gallery {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.maps-gallery-thumbnails{
  display: block;
  position: relative;
  overflow-x: scroll;
  padding-bottom: 30px;
}
.maps-gallery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.maps-gallery-item img{
  width: 100%;
  border: 20px solid #363062;
  border-radius: 50px;
} 
@media screen and (max-width: 1060px) {
  .maps-gallery-items {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: max-content;
  }
  .maps-gallery-item img{
    max-height: 300px;
  }
}
@media screen and (max-width:900px){
  .mods-headline {
    padding-left: 0px;
  }
}
@media screen and (max-width:550px){
  .mods-image img {
    border: 15px solid #363062;
    border-radius: 30px;
  }
}
/* Map View */
.view-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.individula-map {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.individual-item{ 
  width: 100%;
  margin-top: 10px;
}
.individual-item .image-1{
  justify-content: center;
  z-index: 400;
}
.individual-item .view-1{
  justify-content: center;
  margin-top: -30px;
  z-index: 400;
}
.individual-item .button{
  justify-content: center;
  margin-top: -250px;
  margin-bottom: -250px; 
  z-index: 500;
}
.individual-item .p {
  max-width: 900px;
  font-size: 20px;
  font-weight: 300;
}
.individual-item img{
  border: 15px solid #363062;
  border-radius: 30px;
  max-width: 600px;
  min-width: 400px;
  min-height: 272.567px;
}
.individual-section{
  display: flex;
  width: 100%;
  position: relative;
}
.map-fix{
  padding-top: 160px;
  text-align: center;
}
/* View Map and View Tasks Button */
.view {
  border: 10px solid #363062;
  border-radius: 50px;
  background-color: #E9D5DA;
  color: #363062;
  padding: 10px 50px;
  font-size: 25px; 
  min-width: 250px;
  min-width: 265px;
}
.view-desc{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300; 
}
.view-desc p{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 900px;
  padding-top: 15px;
}
.task-view {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.individual-section .task-list{
  min-width: none;
}
.task-list{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
  max-width: 600px;
  min-width: 400px;
  min-height: 272.567px;
  max-height: 392.9px;
}
.task-list ul{
  background-color: #363062;
  border: 15px solid #363062;
  border-radius: 30px;
  list-style: circle;
  padding-left: 10px;
}
.map-5--tasks {
  padding-top: 30px;
}
.list-heading{
  font-weight: 300;
}
@media screen and (max-width: 650px) {
  .task-list ul{
    font-size: 10px;
    max-height: 272.567px;
    max-width: 400px;
  }
  .individual-item img{
    max-height: 272.567px;
    max-width: 400px;
  }
  .map-fix{
    padding-top: 100px;
  }
}
@media screen and (min-width: 650px) {
  .task-list ul{
    font-size: 15px;
    padding-bottom: 65px;
    padding-right: 23px;
    min-height: 392.9px;
    min-width: 400px;
  }
  .individual-item img{
    min-height: 272.567px;
    min-width: 400px;
  } 
}
.tips-gallery {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.tips-gallery-thumbnails{
  display: flex;
  width: 100%;
  justify-content: center;
}
.tips-gallery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.tips-gallery-item img{
  width: 100%;
  border: 20px solid #363062;
  border-radius: 50px;
} 
@media screen and (max-width: 1010px) {
  .tips-gallery-items {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: max-content; 
    justify-content: flex-start; 
  }
  .tips-gallery-item img{
    max-height: 300px;
  }
}
/*Game Mechanics and Learn Videos*/
.video-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.video-section{
  flex: 1 1 100%; 
}
.video-youtube img{
  max-width: 900px;
  width: 100%;
}
.video-section p{
  max-width: 900px;
  font-size: 20px;
  font-weight: 300;
}
.video-section a {
  color: #363062;
  text-decoration: underline;
  font-weight: bolder;
}
.video-youtube{
  display: flex;
  flex-direction: column;
  background-color: #E9D5DA;
  border: 10px solid #363062;
  border-radius: 22px;
  padding-top: 0px;
  padding-bottom: 20px; 
}
.video-youtube iframe{
  min-width: 285px;
  min-height: 300px;
  border-radius: 10px;
}
.video-youtube p{
  text-align: center;
  color: #363062;
  font-weight: 400;
}
.video-content {
  max-width: 900px;
}
.video-content h1{
  font-size: 70px;
}

/* Character Page: Best Mods You should try */
/* Hero Header */
.mods {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mods-section {
  flex: 1 1 100%;
}
.mods-image img{
  width: 100%;
  border: 20px solid #363062;
  border-radius: 50px;
}
.mods p {
  max-width: 700px;
}
.mods-image {
  max-width: 600px;
}
.mods-headline {
  text-shadow: 0 0 2px #E9D5DA, 0px 5px 5px #403d3d;
  letter-spacing: 0.05em;
}
.mods-headline {
  padding-top: 75px;
  padding-left: 30px;
}
.mods-headline h4 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.mods-headline p {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .mods {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mods-headline {
    padding-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .mods {
    flex-direction: row;
  }
  .mods-section{
    flex: 1 1 50%;
  }
}


